[0m[0Kastroid==3.3.4[0K[?25l
colorama==0.4.6[0K
contourpy==1.3.0[0K
cycler==0.12.1[0K
dill==0.3.8[0K
fonttools==4.54.0[0K
iniconfig==2.0.0[0K
isort==5.13.2[0K
kiwisolver==1.4.7[0K
matplotlib==3.9.2[0K
mccabe==0.7.0[0K
numpy==2.1.1[0K
packaging==24.1[0K
pillow==10.4.0[0K
platformdirs==4.3.6[0K
pluggy==1.5.0[0K
pylint==3.3.0[0K
pyparsing==3.1.4[0K
pytest==8.3.3[0K
python-dateutil==2.9.0.post0[0K
six==1.16.0[0K
tomlkit==0.13.2[0K
[0K[?25h